.main-timeline {
    position: relative;
    max-width: 50%;
  }
  
  .main-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #939597;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #939597;
    border: 5px solid #f5df4d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

ul.custom-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
}

ul.custom-list li {
    position: relative;
    padding-left: 20px; /* Space for the custom bullet */
    margin-bottom: 10px; /* Space between list items */
}

ul.custom-list li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -13px;
  top: -13px;
  background-color: #939597;
  border: 5px solid #f5df4d;

  border-radius: 50%;
  z-index: 1;
    transform: translateY(50%); /* Adjust vertical alignment */
}
  
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -12px;
  }
  
  .card {
    padding: 0px 10px;
    position: relative;
    width: 200px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  @media screen and (max-width: 600px) {
    .main-timeline::after {
      left: 31px;
    }
    
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 18px;
    }
    
    .left::before {
      right: auto;
    }
  
    .right {
      left: 0%;
    }
  }